<!DOCTYPE html>
<html lang="en">

<head>
    <title>start_stop_overdraft</title>
</head>

<body>
    <div class="header">
        <a href="/">Home</a>
        <h1>start_stop_overdraft</h1>
    </div>

    <form id="form" method="POST">
        <div><text>checkingAccount</text><select name="checkingAccount">
            {% for checkingAccount in checkingAccounts %}
            <option>{{checkingAccount}}</option>
            {% endfor %}
        </select></div>

        <div>
            <input type="radio" id="start" name="startStop" value="Start" checked>
            <label for="start">start</label>
            <input type="radio" id="stop" name="startStop" value="Stop">
            <label for="stop">stop</label>
        </div>

        <div><text>savingsAccount</text><select name="savingsAccount">
            {% for savingsAccount in savingsAccounts %}
            <option>{{savingsAccount}}</option>
            {% endfor %}
        </select></div>
        

        <button type="submit">Submit</button>
    </form>

    <script>
        document.querySelector('#form').addEventListener("submit", async function (e) {
            e.preventDefault()
            console.log(new URLSearchParams(new FormData(e.target)).toString())
            const res = await fetch("/api/10", {
                body: new URLSearchParams(new FormData(e.target)).toString(),
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            console.log(await res.json())
            window.location = '/status'
        });
    </script>
</body>

</html>