<!DOCTYPE html>
<html lang="en">

<head>
    <title>manage_users</title>
</head>

<body>
    <div class="header">
        <a href="/">Home</a>
        <h1>manage_users</h1>
    </div>

    <!-- <form id="form" method="POST">
        <button type="submit">Submit</button>
    </form> -->
    <div><a href="3">Create Employee Role</a></div>
    <div><a href="4">Create Customer Role</a></div>
    <div><a href="5_1">Stop Employee Role</a></div>
    <div><a href="5_2">Stop Customer Role</a></div>


    <!-- <script>
        document.querySelector('#form').addEventListener("submit", async function (e) {
            e.preventDefault()
            console.log(new URLSearchParams(new FormData(e.target)).toString())
            const res = await fetch("/api/9", {
                body: new URLSearchParams(new FormData(e.target)).toString(),
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            console.log(await res.json())
        });
    </script> -->
</body>

</html>