<!DOCTYPE html>
<html lang="en">

<head>
    <title>manager_navigation</title>
</head>

<body>
    <div class="header">
        <a href="/">Home</a>
        <h1>manager_navigation</h1>
    </div>

    <!-- <form id="form" method="POST">
        <button type="submit">Submit</button>
    </form> -->
    <div><a href="13">Pay Employees</a></div>
    <div><a href="6">Hire Worker</a></div>


    <!-- <script>
        document.querySelector('#form').addEventListener("submit", async function (e) {
            e.preventDefault()
            console.log(new URLSearchParams(new FormData(e.target)).toString())
            const res = await fetch("/api/9", {
                body: new URLSearchParams(new FormData(e.target)).toString(),
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            console.log(await res.json())
        });
    </script> -->
</body>

</html>