<!DOCTYPE html>
<html lang="en">

<head>
    <title>manage_accounts_customer</title>
</head>

<body>
    <div class="header">
        <a href="/">Home</a>
        <h1>manage_accounts_customer</h1>
    </div>

    <form id="form" method="POST">
        <div><text>account</text><select name="account">
            {% for account in accounts %}
            <option>{{account}}</option>
            {% endfor %}
        </select></div>
        <div><text>customer</text><select name="customer">
            {% for customer in customers %}
            <option>{{customer}}</option>
            {% endfor %}
        </select></div>
        <div>
            <input type="radio" id="adding" name="addingRemoving" value="Adding" checked>
            <label for="adding">adding</label>
            <input type="radio" id="removing" name="addingRemoving" value="Removing">
            <label for="removing">removing</label>
        </div>

        <button type="submit">Submit</button>
    </form>

    <script>
        document.querySelector('#form').addEventListener("submit", async function (e) {
            e.preventDefault()
            console.log(new URLSearchParams(new FormData(e.target)).toString())
            const res = await fetch("/api/8_1", {
                body: new URLSearchParams(new FormData(e.target)).toString(),
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            console.log(await res.json())
            window.location = '/status'
        });
    </script>
</body>

</html>