<!DOCTYPE html>
<html lang="en">

<head>
    <title>Phase IV</title>
</head>

<body>
    <div class="header">

    </div>
        <button onclick="resetDB()">Reset Database</button>
    <div>
        <div><a href="1" role="button">Screen 1</a></div>
        <div><a href="2" role="button">Screen 2</a></div>
        <div><a href="3" role="button">Screen 3</a></div>
        <div><a href="4" role="button">Screen 4</a></div>
        <div><a href="5_1" role="button">Screen 5_1</a></div>
        <div><a href="5_2" role="button">Screen 5_2</a></div>
        <div><a href="6" role="button">Screen 6</a></div>
        <div><a href="7" role="button">Screen 7</a></div>
        <div><a href="8_1" role="button">Screen 8_1</a></div>
        <div><a href="8_2" role="button">Screen 8_2</a></div>
        <div><a href="9" role="button">Screen 9</a></div>
        <div><a href="10" role="button">Screen 10</a></div>
        <div><a href="11_1" role="button">Screen 11_1</a></div>
        <div><a href="11_2" role="button">Screen 11_2</a></div>
        <div><a href="12" role="button">Screen 12</a></div>
        <div><a href="13" role="button">Screen 13</a></div>

        <div><a href="14" role="button">Screen 14</a></div>
        <div><a href="15" role="button">Screen 15</a></div>
        <div><a href="16" role="button">Screen 16</a></div>
        <div><a href="17" role="button">Screen 17</a></div>
        <div><a href="18" role="button">Screen 18</a></div>

        <div><a href="19" role="button">Screen 19</a></div>
        <div><a href="20" role="button">Screen 20</a></div>
        <div><a href="21" role="button">Screen 21</a></div>
        <div><a href="22" role="button">Screen 22</a></div>
        <div><a href="23" role="button">Screen 23</a></div>
        <div><a href="24" role="button">Screen 24</a></div>

    </div>

    <script>
        async function resetDB() {
            const res = await fetch("/api/reset", {
                body: "",
                method: "POST"
            })
        }
    </script>
</body>

</html>